:root {
  --global-color: red;
  --not-deprecated: var(--global-color);
  /* @deprecated(renamed: "--not-deprecated", "message": "this is no longer supported, use `--not-deprecated`") */
  --deprecated: var(--not-deprecated);
  border: none;
}
